{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
    <div class="container">
        <br>

        <div class="row">
            <div class="col-md-3">
                <a style="text-decoration: none; color:white;" href="{% url 'novo_valor' %}">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <span  class="fonte-destaque">R$ {{entradas_mes_corrente}}</span>
                            </div>
                            <div class="col-md">
                                <img class="icone-setas" src="{% static 'perfil/img/entradas.png' %}">
                            </div>
                        </div>
        
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a style="text-decoration: none; color:white;" href="{% url 'novo_valor' %}">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <span  class="fonte-destaque">R$ {{saidas_mes_corrente}}</span>
                            </div>
                            <div class="col-md">
                                <img class="icone-setas" src="{% static 'perfil/img/saidas.png' %}">

                                
                            </div>
                        </div> 
                    </div>
                </a>
            </div>
        </div>
        <br>
        
       
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="saldo">
                        <span class="fonte-destaque">Saldo total</span>
                        <br>
                        <span class="font-light">R$ {{total_contas}}</span>
                    </div>
                    <hr class="hr-borda">
                    <span class="fonte-destaque">Suas contas</span>

                    <div class="div-contas">
                        {% for conta in contas %}
                            <div class="lista-conta">
                                <span><img width="10%" src="{{conta.icone.url}}">&nbsp&nbsp</span>
                                <span>{{conta}}</span>
                                <span class="total-conta">R$ {{conta.valor}}</span>
                            </div>
                            <br>
                        {% endfor %}
                        
                    </div>
                    <hr class="hr-borda">
                    <a href="{% url 'gerenciar' %}" class="botao-principal">Gerenciar contas</a>
                    <hr class="hr-borda">
                </div>
              
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="row">
                        <div class="col-md">
                            <div class="saldo">
                                <span class="fonte-destaque">Receitas mensais</span>
                                <br>
                                <span class="font-light">R$ {{saldo_mensal}}</span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="despesa">
                                <span class="fonte-destaque">Despesas mensais</span>
                                <br>
                                <span class="font-light">R$ {{despesas_mensal}}</span>
                            </div>
                        </div>

                    </div>
                    <hr class="hr-borda">
                    <span class="fonte-destaque">Total livre</span>
                    <span class="font-light negativo">R$ {{total_livre}}</span>
                    <hr class="hr-borda">                  
                    <a href="{% url 'view_extrato' %}?conta=todas&categoria=todas&periodo=mesAtual" class="botao-principal">Gerenciar dados mensais</a>
                    <hr class="hr-borda">
                    <a href="{% url 'dashboard' %}" class="botao-principal">Ver Gráfico de Gastos Mensais</a>
                    <hr class="hr-borda">
                    <a href="{% url 'dashboard2' %}" class="botao-principal">Ver Gráfico de Entradas Mensais</a>
                </div>
               
            </div>
           

        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="saldo">
                        <span class="fonte-destaque">Planejamento Mensal</span>
                    </div>
                    <hr class="hr-borda">                    
                    <a href="{% url 'definir_planejamento' %}" class="botao-principal">Definir planejamento</a>
                    <hr class="hr-borda">                    
                    <a href="{% url 'ver_planejamento' %}" class="botao-principal">Visualizar planejamento</a>
                    <hr class="hr-borda">  
                    <hr class="hr-borda">                                      
                    <hr class="hr-borda"> 
                </div>
                
            </div>
            
            <div class="col-md-8">
                <div class="card">
                    <div class="saldo">
                      <span class="fonte-destaque">Equilibrio financeiro</span>
                    </div>
                    <hr class="hr-borda">

                    <p>Gastos essenciais</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{percentual_gastos_essenciais_mes_corrente}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{percentual_gastos_essenciais_mes_corrente2}}%</div>
                    </div>
                    <hr class="hr-borda">
                    <p>Gastos não essenciais</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{percentual_gastos_nao_essenciais_mes_corrente}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{percentual_gastos_nao_essenciais_mes_corrente2}}%</div>
                    </div>

                    <hr class="hr-borda">
                    <a href="{% url 'gerenciar' %}" class="botao-principal">Alterar categorias essenciais</a>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="saldo">
                        <span class="fonte-destaque">Gráficos Anuais</span>
                    </div>
                    <hr class="hr-borda">
                    <a  href="{% url 'dashboard3' %}"><img src="{% static 'perfil/img/dashboard.png' %}" alt="Gráficos Anuais" width="90%" height="90%" style="margin-bottom: 57px"></a>
            
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="card">
                    <div class="saldo">
                      <span class="fonte-destaque">Gerenciar contas</span>
                    </div>
                    <hr class="hr-borda">

                    <span class="fonte-destaque text-warning">Próximas do vencimento</span>
                    <span class="fonte-light">{{contas_proximas_vencimento_size}} contas próximas do vencimento</span>
                    <br>
                    <hr class="hr-borda">
                    <span class="fonte-destaque negativo">Vencidas</span>
                    <span class="fonte-light">{{contas_vencidas_size}} contas vencidas</span>

                    <hr class="hr-borda">
                  
                    <hr class="hr-borda">

                    
                    

                    <a href="{% url 'ver_contas' %}" class="botao-principal">Ver mais</a>
                    <hr class="hr-borda">

                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}
